#sound {
  position: absolute;
  top: 515px;
  left: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 8px 8px 35px;
  border-radius: 4px;
}

#sound span {
  font-size: 20px;
  position: absolute;
  top: 7;
  left: 2;
}

.switch {
  --false: #e81b1b;
  --true: #009068;
}

input[type='checkbox'] {
  appearance: none;
  height: 1.3rem;
  width: 3.5rem;
  background-color: #fff;
  position: relative;
  border-radius: 0.2em;
  cursor: pointer;
}

input[type='checkbox']::before {
  content: '';
  display: block;
  height: 1.5em;
  width: 1.5em;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: calc(1.9em / 2 + 0.3em);
  background-color: var(--false);
  border-radius: 0.2em;
  transition: 0.3s ease;
}

input[type='checkbox']:checked::before {
  background-color: var(--true);
  left: calc(100% - (1.9em / 2 + 0.3em));
}

button,
button:focus {
  font-size: 17px;
  padding: 20px 20px;
  border-radius: 0.7rem;
  background-image: linear-gradient(#6b4e3d, #b78f61);
  border: 2px solid rgb(50, 50, 50);
  border-bottom: 5px solid rgb(50, 50, 50);
  transform: translate(0, -3px);
  transition: 0.2s;
  transition-timing-function: linear;
  font-family: 'MedievalSharp', cursive;
  font-weight: 700;
}

button:active {
  transform: translate(0, 0);
  border-bottom: 2px solid rgb(50, 50, 50);
}

.list {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 5px 20px 5px;
  margin: 0 8px 0 8px;
  border: 2px solid rgb(50, 50, 50);
  border-bottom: 5px solid rgb(50, 50, 50);
  border-radius: 0.7rem;
}

.title-h3 {
  margin-bottom: 10px;
  font-size: x-large;
}

.info {
  margin-top: 30px;
  font-weight: 700;
}

li {
  font-weight: 600;
}

.keys {
  font-weight: 800;
}

#ok {
  padding: 5px 9px;
  margin-top: 15px;
}

#select-player {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  text-align: center;
  margin: 20px 0 0 20px;
  display: none;
  flex-direction: column;
  align-items: center;
  border-radius: 0.7rem;
  background-image: linear-gradient(#6b4e3d, #b78f61);
  border: 2px solid rgb(50, 50, 50);
  border-bottom: 5px solid rgb(50, 50, 50);
  position: absolute;
  top: 20px;
  left: 2%;
}

#select-player div {
  margin-top: 7px;
}

#select-player p {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 5px 20px 5px;
  margin: 5px 8px 5px 8px;
  border: 2px solid rgb(50, 50, 50);
  border-bottom: 5px solid rgb(50, 50, 50);
  border-radius: 0.7rem;
}

#select-player p:hover {
  color: #e81b1b;
  cursor: pointer;
}

#char-button {
  padding: 8px 8px;
}
